/*=========================================
swiper css card
============================================*/
/* arrows */
.swiper-button-next,
.swiper-button-prev {
    width: 44px;
    height: 44px;
    background-color: var(--second-color);
    border-radius: 50%;
    color: var(--main-color);
}

.swiper-button-prev,
.swiper-button-next {
    svg {
        width: 16px !important;
        height: 16px !important;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px;
    font-weight: bold;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ccc;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
    transform: scale(1.2);
}

.swiper-slide:nth-child(even) {
    transition: transform 700ms ease-in-out;
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1) scaleY(1) translateY(0);
    transform-origin: center center !important;
    /* opacity: 0.6; */
}

.swiper-slide:nth-child(odd) {
    /* opacity: 1; */
    transform: perspective(600px) rotateX(0.06deg) rotateY(0deg) scaleX(1.05) scaleY(1.05) translateY(15px) !important;

}

/*=========================================
swiper css card
============================================*/

/*===================================
start home Banner 
=====================================*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -o-repeating-linear-gradient(left, transparent, rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.01), rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.05), rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.04), rgba(34, 34, 34, 0.02), rgba(34, 34, 34, 0.02), rgba(34, 34, 34, 0.09), rgba(34, 34, 34, 0.04), rgba(34, 34, 34, 0.06), rgba(34, 34, 34, 0.01) 3px), -o-linear-gradient(bottom, rgb(255 255 255 / 20%), var(--black-color));
    background: repeating-linear-gradient(90deg, transparent, rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.01), rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.05), rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.04), rgba(34, 34, 34, 0.02), rgba(34, 34, 34, 0.02), rgba(34, 34, 34, 0.09), rgba(34, 34, 34, 0.04), rgba(34, 34, 34, 0.06), rgba(34, 34, 34, 0.01) 3px), -webkit-gradient(linear, left bottom, left top, from(rgb(255 255 255 / 20%)), to(var(--black-color)));
    background: repeating-linear-gradient(90deg, transparent, rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.01), rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.05), rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.04), rgba(34, 34, 34, 0.02), rgba(34, 34, 34, 0.02), rgba(34, 34, 34, 0.09), rgba(34, 34, 34, 0.04), rgba(34, 34, 34, 0.06), rgba(34, 34, 34, 0.01) 3px), linear-gradient(0deg, rgb(255 255 255 / 20%), var(--black-color));
}
/*===================================
start home Banner 
=====================================*/